.main {
  width: 90%;
  margin: auto;
  .details_container {
    .i_am {
      color: #000;
      font-size: 0.8rem;
      margin-top: 40px;
      margin-bottom: 7px;
    }
    .name {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 7px;
    }
    .title {
      font-size: 1rem;
      margin-bottom: 15px;
      .title_tag {
        padding: 5px;
        background-color: #dbdef9;
        border-radius: 16px;
        font-weight: 600;
        color: #0010a3;
      }
    }
    .paragraph {
      font-size: 0.8rem;
      margin-bottom: 25px;
    }
    .button {
      background-color: #0010a3;
      color: #fafafa;
      border-radius: 8px;
      width: 180px;
      padding: 7px;
      margin-bottom: 30px;
    }
  }
  .image_container_bg {
    background: url("/images/background/mobileCeoBg.png");
    background-size: 100% 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    // justify-content: ;
    // min-height: 0px;
    background-position: center;
    background-repeat: no-repeat;
    .ceo_img {
      padding-top: 20px;
      // border-radius: 50%;
      margin-top: 10px;
      border-radius: 50%;
      // width: ;
      // height: 150px;
      // width: 0%;
    }
  }
}

@media screen and (min-width: 400px) {
}
@media screen and (min-width: 1024px) {
  .main {
    .cover_container {
      height: 90vh;

      .header_container {
        .header_div {
          justify-content: center;
          .intro_paragraph {
            font-size: 25px;
            margin-bottom: 20px;
          }
          .header {
            font-size: 55px;
            font-weight: 400;
          }
          .sub {
            margin-top: 20px;
            margin-bottom: 30px;
            font-size: 20px;
          }
          .button_container {
            .button {
              border-radius: 3px;
              font-size: 18px;
              padding: 10px;
              min-width: 140px;
            }
            .button_lorem {
              margin-right: 25px;
            }
          }
        }
      }
      .image_container {
        width: 65%;
        justify-content: flex-end;
      }
    }
  }
}
